// Color
.has-prime-color {
    color: $prime;
}
.has-pale-color {
    color: $pale;
}
.has-light-peach-color {
    color: $light-peach;
}
.has-white-color {
    color: $white;
}
.has-gray-1-color {
    color: $gray-1;
}
.has-gray-2-color {
    color: $gray-2;
}
.has-gray-3-color {
    color: $gray-2;
}
.has-gray-4-color {
    color: $gray-4;
}
.has-black-color {
    color: $black;
}

// Background-color
.has-background {
    padding: 3em;
}
.has-prime-background-color {
    background-color: $prime;
}
.has-pale-background-color {
    color: $pale;
}
.has-light-peach-background-color {
    color: $light-peach;
}
.has-white-background-color {
    background-color: $white;
}
.has-gray-1-background-color {
    background-color: $gray-1;
}
.has-gray-2-background-color {
    background-color: $gray-2;
}
.has-gray-3-background-color {
    background-color: $gray-2;
}
.has-gray-4-background-color {
    background-color: $gray-4;
}
.has-black-background-color {
    background-color: $black;
}