[class*='icon-']:before{
	display: inline-block;
   font-family: $ui-font-icon;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-ui-icon-note-beamed:before { content: '\266a'; }
.icon-ui-icon-note:before { content: '\e800'; }
.icon-ui-icon-music:before { content: '\e801'; }
.icon-ui-icon-search:before { content: '\e802'; }
.icon-ui-icon-flashlight:before { content: '\e803'; }
.icon-ui-icon-heart-empty:before { content: '\e804'; }
.icon-ui-icon-star:before { content: '\e805'; }
.icon-ui-icon-star-empty:before { content: '\e806'; }
.icon-ui-icon-user:before { content: '\e807'; }
.icon-ui-icon-users:before { content: '\e808'; }
.icon-ui-icon-user-add:before { content: '\e809'; }
.icon-ui-icon-video:before { content: '\e80a'; }
.icon-ui-icon-picture:before { content: '\e80b'; }
.icon-ui-icon-camera:before { content: '\e80c'; }
.icon-ui-icon-layout:before { content: '\e80d'; }
.icon-ui-icon-menu:before { content: '\e80e'; }
.icon-ui-icon-check:before { content: '\e80f'; }
.icon-ui-icon-cancel:before { content: '\e810'; }
.icon-ui-icon-cancel-circled:before { content: '\e811'; }
.icon-ui-icon-cancel-squared:before { content: '\e812'; }
.icon-ui-icon-plus:before { content: '\e813'; }
.icon-ui-icon-plus-circled:before { content: '\e814'; }
.icon-ui-icon-plus-squared:before { content: '\e815'; }
.icon-ui-icon-minus:before { content: '\e816'; }
.icon-ui-icon-minus-circled:before { content: '\e817'; }
.icon-ui-icon-minus-squared:before { content: '\e818'; }
.icon-ui-icon-help:before { content: '\e819'; }
.icon-ui-icon-help-circled:before { content: '\e81a'; }
.icon-ui-icon-info:before { content: '\e81b'; }
.icon-ui-icon-info-circled:before { content: '\e81c'; }
.icon-ui-icon-back:before { content: '\e81d'; }
.icon-ui-icon-home:before { content: '\e81e'; }
.icon-ui-icon-link:before { content: '\e81f'; }
.icon-ui-icon-attach:before { content: '\e820'; }
.icon-ui-icon-lock:before { content: '\e821'; }
.icon-ui-icon-lock-open:before { content: '\e822'; }
.icon-ui-icon-eye:before { content: '\e823'; }
.icon-ui-icon-tag:before { content: '\e824'; }
.icon-ui-icon-bookmark:before { content: '\e825'; }
.icon-ui-icon-bookmarks:before { content: '\e826'; }
.icon-ui-icon-flag:before { content: '\e827'; }
.icon-ui-icon-thumbs-up:before { content: '\e828'; }
.icon-ui-icon-thumbs-down:before { content: '\e829'; }
.icon-ui-icon-download:before { content: '\e82a'; }
.icon-ui-icon-upload:before { content: '\e82b'; }
.icon-ui-icon-upload-cloud:before { content: '\e82c'; }
.icon-ui-icon-reply:before { content: '\e82d'; }
.icon-ui-icon-reply-all:before { content: '\e82e'; }
.icon-ui-icon-forward:before { content: '\e82f'; }
.icon-ui-icon-quote:before { content: '\e830'; }
.icon-ui-icon-code:before { content: '\e831'; }
.icon-ui-icon-export:before { content: '\e832'; }
.icon-ui-icon-pencil:before { content: '\e833'; }
.icon-ui-icon-feather:before { content: '\e834'; }
.icon-ui-icon-print:before { content: '\e835'; }
.icon-ui-icon-retweet:before { content: '\e836'; }
.icon-ui-icon-keyboard:before { content: '\e837'; }
.icon-ui-icon-comment:before { content: '\e838'; }
.icon-ui-icon-chat:before { content: '\e839'; }
.icon-ui-icon-bell:before { content: '\e83a'; }
.icon-ui-icon-attention:before { content: '\e83b'; }
.icon-ui-icon-alert:before { content: '\e83c'; }
.icon-ui-icon-vcard:before { content: '\e83d'; }
.icon-ui-icon-address:before { content: '\e83e'; }
.icon-ui-icon-location:before { content: '\e83f'; }
.icon-ui-icon-map:before { content: '\e840'; }
.icon-ui-icon-direction:before { content: '\e841'; }
.icon-ui-icon-compass:before { content: '\e842'; }
.icon-ui-icon-cup:before { content: '\e843'; }
.icon-ui-icon-trash:before { content: '\e844'; }
.icon-ui-icon-doc:before { content: '\e845'; }
.icon-ui-icon-docs:before { content: '\e846'; }
.icon-ui-icon-doc-landscape:before { content: '\e847'; }
.icon-ui-icon-doc-text:before { content: '\e848'; }
.icon-ui-icon-doc-text-inv:before { content: '\e849'; }
.icon-ui-icon-newspaper:before { content: '\e84a'; }
.icon-ui-icon-book-open:before { content: '\e84b'; }
.icon-ui-icon-book:before { content: '\e84c'; }
.icon-ui-icon-folder:before { content: '\e84d'; }
.icon-ui-icon-archive:before { content: '\e84e'; }
.icon-ui-icon-box:before { content: '\e84f'; }
.icon-ui-icon-rss:before { content: '\e850'; }
.icon-ui-icon-phone:before { content: '\e851'; }
.icon-ui-icon-cog:before { content: '\e852'; }
.icon-ui-icon-tools:before { content: '\e853'; }
.icon-ui-icon-share:before { content: '\e854'; }
.icon-ui-icon-shareable:before { content: '\e855'; }
.icon-ui-icon-basket:before { content: '\e856'; }
.icon-ui-icon-bag:before { content: '\e857'; }
.icon-ui-icon-calendar:before { content: '\e858'; }
.icon-ui-icon-login:before { content: '\e859'; }
.icon-ui-icon-logout:before { content: '\e85a'; }
.icon-ui-icon-mic:before { content: '\e85b'; }
.icon-ui-icon-mute:before { content: '\e85c'; }
.icon-ui-icon-sound:before { content: '\e85d'; }
.icon-ui-icon-volume:before { content: '\e85e'; }
.icon-ui-icon-clock:before { content: '\e85f'; }
.icon-ui-icon-hourglass:before { content: '\e860'; }
.icon-ui-icon-lamp:before { content: '\e861'; }
.icon-ui-icon-light-down:before { content: '\e862'; }
.icon-ui-icon-light-up:before { content: '\e863'; }
.icon-ui-icon-adjust:before { content: '\e864'; }
.icon-ui-icon-block:before { content: '\e865'; }
.icon-ui-icon-resize-full:before { content: '\e866'; }
.icon-ui-icon-resize-small:before { content: '\e867'; }
.icon-ui-icon-popup:before { content: '\e868'; }
.icon-ui-icon-publish:before { content: '\e869'; }
.icon-ui-icon-window:before { content: '\e86a'; }
.icon-ui-icon-arrow-combo:before { content: '\e86b'; }
.icon-ui-icon-down-circled:before { content: '\e86c'; }
.icon-ui-icon-left-circled:before { content: '\e86d'; }
.icon-ui-icon-right-circled:before { content: '\e86e'; }
.icon-ui-icon-up-circled:before { content: '\e86f'; }
.icon-ui-icon-down-open:before { content: '\e870'; }
.icon-ui-icon-left-open:before { content: '\e871'; }
.icon-ui-icon-right-open:before { content: '\e872'; }
.icon-ui-icon-up-open:before { content: '\e873'; }
.icon-ui-icon-down-open-mini:before { content: '\e874'; }
.icon-ui-icon-left-open-mini:before { content: '\e875'; }
.icon-ui-icon-right-open-mini:before { content: '\e876'; }
.icon-ui-icon-up-open-mini:before { content: '\e877'; }
.icon-ui-icon-down-open-big:before { content: '\e878'; }
.icon-ui-icon-left-open-big:before { content: '\e879'; }
.icon-ui-icon-right-open-big:before { content: '\e87a'; }
.icon-ui-icon-up-open-big:before { content: '\e87b'; }
.icon-ui-icon-down:before { content: '\e87c'; }
.icon-ui-icon-left:before { content: '\e87d'; }
.icon-ui-icon-right:before { content: '\e87e'; }
.icon-ui-icon-up:before { content: '\e87f'; }
.icon-ui-icon-down-dir:before { content: '\e880'; }
.icon-ui-icon-left-dir:before { content: '\e881'; }
.icon-ui-icon-right-dir:before { content: '\e882'; }
.icon-ui-icon-up-dir:before { content: '\e883'; }
.icon-ui-icon-down-bold:before { content: '\e884'; }
.icon-ui-icon-left-bold:before { content: '\e885'; }
.icon-ui-icon-right-bold:before { content: '\e886'; }
.icon-ui-icon-up-bold:before { content: '\e887'; }
.icon-ui-icon-down-thin:before { content: '\e888'; }
.icon-ui-icon-left-thin:before { content: '\e889'; }
.icon-ui-icon-right-thin:before { content: '\e88a'; }
.icon-ui-icon-up-thin:before { content: '\e88b'; }
.icon-ui-icon-ccw:before { content: '\e88c'; }
.icon-ui-icon-cw:before { content: '\e88d'; }
.icon-ui-icon-arrows-ccw:before { content: '\e88e'; }
.icon-ui-icon-level-down:before { content: '\e88f'; }
.icon-ui-icon-level-up:before { content: '\e890'; }
.icon-ui-icon-shuffle:before { content: '\e891'; }
.icon-ui-icon-loop:before { content: '\e892'; }
.icon-ui-icon-switch:before { content: '\e893'; }
.icon-ui-icon-play:before { content: '\e894'; }
.icon-ui-icon-stop:before { content: '\e895'; }
.icon-ui-icon-pause:before { content: '\e896'; }
.icon-ui-icon-record:before { content: '\e897'; }
.icon-ui-icon-to-end:before { content: '\e898'; }
.icon-ui-icon-to-start:before { content: '\e899'; }
.icon-ui-icon-fast-forward:before { content: '\e89a'; }
.icon-ui-icon-fast-backward:before { content: '\e89b'; }
.icon-ui-icon-progress-0:before { content: '\e89c'; }
.icon-ui-icon-progress-1:before { content: '\e89d'; }
.icon-ui-icon-progress-2:before { content: '\e89e'; }
.icon-ui-icon-progress-3:before { content: '\e89f'; }
.icon-ui-icon-target:before { content: '\e8a0'; }
.icon-ui-icon-palette:before { content: '\e8a1'; }
.icon-ui-icon-list:before { content: '\e8a2'; }
.icon-ui-icon-list-add:before { content: '\e8a3'; }
.icon-ui-icon-signal:before { content: '\e8a4'; }
.icon-ui-icon-trophy:before { content: '\e8a5'; }
.icon-ui-icon-battery:before { content: '\e8a6'; }
.icon-ui-icon-back-in-time:before { content: '\e8a7'; }
.icon-ui-icon-monitor:before { content: '\e8a8'; }
.icon-ui-icon-mobile:before { content: '\e8a9'; }
.icon-ui-icon-network:before { content: '\e8aa'; }
.icon-ui-icon-cd:before { content: '\e8ab'; }
.icon-ui-icon-inbox:before { content: '\e8ac'; }
.icon-ui-icon-install:before { content: '\e8ad'; }
.icon-ui-icon-globe:before { content: '\e8ae'; }
.icon-ui-icon-cloud:before { content: '\e8af'; }
.icon-ui-icon-cloud-thunder:before { content: '\e8b0'; }
.icon-ui-icon-flash:before { content: '\e8b1'; }
.icon-ui-icon-moon:before { content: '\e8b2'; }
.icon-ui-icon-flight:before { content: '\e8b3'; }
.icon-ui-icon-paper-plane:before { content: '\e8b4'; }
.icon-ui-icon-leaf:before { content: '\e8b5'; }
.icon-ui-icon-lifebuoy:before { content: '\e8b6'; }
.icon-ui-icon-mouse:before { content: '\e8b7'; }
.icon-ui-icon-briefcase:before { content: '\e8b8'; }
.icon-ui-icon-suitcase:before { content: '\e8b9'; }
.icon-ui-icon-dot:before { content: '\e8ba'; }
.icon-ui-icon-dot-2:before { content: '\e8bb'; }
.icon-ui-icon-dot-3:before { content: '\e8bc'; }
.icon-ui-icon-brush:before { content: '\e8bd'; }
.icon-ui-icon-magnet:before { content: '\e8be'; }
.icon-ui-icon-infinity:before { content: '\e8bf'; }
.icon-ui-icon-erase:before { content: '\e8c0'; }
.icon-ui-icon-chart-pie:before { content: '\e8c1'; }
.icon-ui-icon-chart-line:before { content: '\e8c2'; }
.icon-ui-icon-chart-bar:before { content: '\e8c3'; }
.icon-ui-icon-chart-area:before { content: '\e8c4'; }
.icon-ui-icon-tape:before { content: '\e8c5'; }
.icon-ui-icon-graduation-cap:before { content: '\e8c6'; }
.icon-ui-icon-language:before { content: '\e8c7'; }
.icon-ui-icon-ticket:before { content: '\e8c8'; }
.icon-ui-icon-water:before { content: '\e8c9'; }
.icon-ui-icon-droplet:before { content: '\e8ca'; }
.icon-ui-icon-air:before { content: '\e8cb'; }
.icon-ui-icon-credit-card:before { content: '\e8cc'; }
.icon-ui-icon-floppy:before { content: '\e8cd'; }
.icon-ui-icon-clipboard:before { content: '\e8ce'; }
.icon-ui-icon-megaphone:before { content: '\e8cf'; }
.icon-ui-icon-database:before { content: '\e8d0'; }
.icon-ui-icon-drive:before { content: '\e8d1'; }
.icon-ui-icon-bucket:before { content: '\e8d2'; }
.icon-ui-icon-thermometer:before { content: '\e8d3'; }
.icon-ui-icon-key:before { content: '\e8d4'; }
.icon-ui-icon-flow-cascade:before { content: '\e8d5'; }
.icon-ui-icon-flow-branch:before { content: '\e8d6'; }
.icon-ui-icon-flow-tree:before { content: '\e8d7'; }
.icon-ui-icon-flow-line:before { content: '\e8d8'; }
.icon-ui-icon-flow-parallel:before { content: '\e8d9'; }
.icon-ui-icon-rocket:before { content: '\e8da'; }
.icon-ui-icon-gauge:before { content: '\e8db'; }
.icon-ui-icon-traffic-cone:before { content: '\e8dc'; }
.icon-ui-icon-cc:before { content: '\e8dd'; }
.icon-ui-icon-cc-by:before { content: '\e8de'; }
.icon-ui-icon-cc-nc:before { content: '\e8df'; }
.icon-ui-icon-cc-nc-eu:before { content: '\e8e0'; }
.icon-ui-icon-cc-nc-jp:before { content: '\e8e1'; }
.icon-ui-icon-cc-sa:before { content: '\e8e2'; }
.icon-ui-icon-cc-nd:before { content: '\e8e3'; }
.icon-ui-icon-cc-pd:before { content: '\e8e4'; }
.icon-ui-icon-cc-zero:before { content: '\e8e5'; }
.icon-ui-icon-cc-share:before { content: '\e8e6'; }
.icon-ui-icon-cc-remix:before { content: '\e8e7'; }
.icon-ui-icon-github:before { content: '\f300'; }
.icon-ui-icon-github-circled:before { content: '\f301'; }
.icon-ui-icon-flickr:before { content: '\f303'; }
.icon-ui-icon-flickr-circled:before { content: '\f304'; }
.icon-ui-icon-vimeo:before { content: '\f306'; }
.icon-ui-icon-vimeo-circled:before { content: '\f307'; }
.icon-ui-icon-twitter:before { content: '\f309'; }
.icon-ui-icon-twitter-circled:before { content: '\f30a'; }
.icon-ui-icon-facebook:before { content: '\f30c'; }
.icon-ui-icon-facebook-circled:before { content: '\f30d'; }
.icon-ui-icon-facebook-squared:before { content: '\f30e'; }
.icon-ui-icon-gplus:before { content: '\f30f'; }
.icon-ui-icon-gplus-circled:before { content: '\f310'; }
.icon-ui-icon-pinterest:before { content: '\f312'; }
.icon-ui-icon-pinterest-circled:before { content: '\f313'; }
.icon-ui-icon-tumblr:before { content: '\f315'; }
.icon-ui-icon-tumblr-circled:before { content: '\f316'; }
.icon-ui-icon-linkedin:before { content: '\f318'; }
.icon-ui-icon-linkedin-circled:before { content: '\f319'; }
.icon-ui-icon-dribbble:before { content: '\f31b'; }
.icon-ui-icon-dribbble-circled:before { content: '\f31c'; }
.icon-ui-icon-stumbleupon:before { content: '\f31e'; }
.icon-ui-icon-stumbleupon-circled:before { content: '\f31f'; }
.icon-ui-icon-lastfm:before { content: '\f321'; }
.icon-ui-icon-lastfm-circled:before { content: '\f322'; }
.icon-ui-icon-rdio:before { content: '\f324'; }
.icon-ui-icon-rdio-circled:before { content: '\f325'; }
.icon-ui-icon-spotify:before { content: '\f327'; }
.icon-ui-icon-spotify-circled:before { content: '\f328'; }
.icon-ui-icon-qq:before { content: '\f32a'; }
.icon-ui-icon-instagram:before { content: '\f32d'; }
.icon-ui-icon-dropbox:before { content: '\f330'; }
.icon-ui-icon-evernote:before { content: '\f333'; }
.icon-ui-icon-flattr:before { content: '\f336'; }
.icon-ui-icon-skype:before { content: '\f339'; }
.icon-ui-icon-skype-circled:before { content: '\f33a'; }
.icon-ui-icon-renren:before { content: '\f33c'; }
.icon-ui-icon-sina-weibo:before { content: '\f33f'; }
.icon-ui-icon-paypal:before { content: '\f342'; }
.icon-ui-icon-picasa:before { content: '\f345'; }
.icon-ui-icon-soundcloud:before { content: '\f348'; }
.icon-ui-icon-mixi:before { content: '\f34b'; }
.icon-ui-icon-behance:before { content: '\f34e'; }
.icon-ui-icon-google-circles:before { content: '\f351'; }
.icon-ui-icon-vkontakte:before { content: '\f354'; }
.icon-ui-icon-smashing:before { content: '\f357'; }
.icon-ui-icon-db-shape:before { content: '\f600'; }
.icon-ui-icon-sweden:before { content: '\f601'; }
.icon-ui-icon-logo-db:before { content: '\f603'; }
.icon-ui-icon-heart:before { content: '🎵'; }
.icon-ui-icon-mail:before { content: '🔍'; }
